<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>汤羹</string>
	<string>下饭菜</string>
	<string>素菜</string>
	<string>精选菜单</string>
	<string>创意菜</string>
	<string>减肥</string>
	<string>河蟹</string>
	<string>菜系</string>
	<string>烘焙</string>
	<string>家常菜</string>
	<string>宴客菜</string>
	<string>...</string>
</array>
</plist>
